* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

body {
  background-color: #14131a;
  color: #fff;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
}
.container {
  max-width: 1150px;
  margin: auto;
}
.header {
  display: flex;
  align-items: center;
  padding-top: 40px;
  margin-bottom: 80px;
}
.logo__link {
  display: inline-block;
  margin-right: 50px;
}

.nav__menu {
  display: flex;
}
.nav__menu-item {
  margin-right: 30px;
}
.nav__menu-link {
  color: rgba(255, 255, 255, 0.5);
  font-size: 14px;
  line-height: 16px;
}

.date {
  display: block;
  font-size: 24px;
  line-height: 28px;
  color: rgba(255, 255, 255, 0.8);
  margin-bottom: 38px;
}
.film__logo{
    margin-bottom: 40px;
}
.hero__description{
    font-size: 16px;
    line-height: 22px;
    color: rgba(255, 255, 255, 0.8);
    max-width: 423px;
}